@{
    ViewData["Title"] = "Customer";
}


    <h1>@ViewData["Title"] </h1>
    <hr />

<br />
<a href="Customer/AddScreen">Add New Customer</a>
<br />
<a href="Customer/SearchScreen">Search For Customer</a>
<br />
