@{
    @ViewData["Title"] = "Welcome";
}

<div id="welcome">
    <h1>Welcome to Contoso Cafe! </h1>
    <hr />
</div>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
    incididuntut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
</p>
<br />
